.chart_container {
  text-align: center;
  padding-top: 132px;
  padding-bottom: 132px;
}

.chart {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;  
}

.arrow_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -76px;
  right: 200px;
  pointer-events: none;
  z-index: -1; /* Убедитесь, что элемент выше других */
}

.test {
  position: relative;
  height: 500px;
} 

