.firstContainer {
  left: 110px;
  z-index: 1;
}

.secondContainer {
  z-index: 1;
}

.diff {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  min-width: 48px;
  width: fit-content;
  position: absolute;
  top: 81px;
}

.diff_down {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fc440f;
  border-radius: 50px;
}

.diff_up {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #00cc99;
  border-radius: 50px;
}

.diff_neutral {
  background-color: #898290;
}

.icon {
  width: 10px;
  height: 8px;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}
